.login,.user{
    background-color: #F8F8F8;
    height: 150px;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px auto;
    border-radius: 10px;
    padding: 0 20px;
}

.user{
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

.recordBtn{
    border-radius: 10px;
    text-align: center;
    background-color: cyan;
    box-shadow: 1px 1px 10px #ccc;
    line-height: 40px;
    font-size: 24px;
    padding: 20px;
    align-self: flex-end;
}

.loginBtn{
    background-color: red;
    box-shadow: 0 0 10px rgba(1, 1, 1, .5);
    color: #fff;
    width: 400px;
}


.exchange{
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 150px;
    color: #fff;
    border-radius: 50px;
    background-color: red;
    text-align: center;
    line-height: 50px;
}