.user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}



.exchange{
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 150px;
    color: #fff;
    border-radius: 50px;
    background-color: red;
    text-align: center;
    line-height: 50px;
}