page{
    background: #666;
  }
  
  .header{
    overflow: hidden;
    line-height: 50rpx;
  }
  
  .header icon{
    float: left;
    border-width: 0 0 1rpx 1rpx;
    width: 30rpx;
    height: 30rpx;
    border-color: #fff;
    border-style: solid;
    transform: rotate(45deg);
    margin: 11rpx 10rpx 10rpx 20rpx;
  }

  .header text{
    float: right;
    color: #fff;
    font-size: 36rpx;
    line-height: 50rpx;
    margin-right: 45%;
  }

  .main{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    flex: 90px;
    flex-direction: column;
    margin: 145rpx 37rpx 45rpx;
  }
  
  .main input{
    border-bottom: 1px solid #999;
    padding: 20rpx 200rpx 30rpx 100rpx;
    margin-bottom: 30rpx;
  }

  .main image{
    width: 31rpx;
    height: 40rpx;
    position: absolute;
    left: 32rpx;
    top: 22rpx;
  }

  .main image:nth-of-type(2){
    top: 150rpx;
  }

  button{
    margin: 0 50rpx;
    color: #fff;
    background: #ff913d;
    margin-bottom: 50rpx;
  }

  button:nth-of-type(2){
    background: #666;
    border: 1rpx solid #999;
  }
